[Desktop Entry]
Name=Modular Calculator
Exec=/app/bin/modularcalculator/run
Type=Application
Icon=io.github.modularcalculator.ModularCalculator
Categories=Office;