[Desktop Entry]
Name=Modular Calculator
Exec=modularcalculator-run
Type=Application
Icon=io.github.modularcalculator.ModularCalculator
Categories=Office;
